@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,700&display=swap');


/* 011b2f */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
    line-height: 1;
    overflow-x: hidden;
    color: #fff;
}

a{
    text-decoration: none;
    user-select: none;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    padding: 3rem 1rem;
}

.light-blue{
    background-color: #021727;
}

.dark-blue{
    background-color: #06141B;
}

.secondary-heading{
    padding-bottom: 2rem;
    font-size: 1.6rem;
    color: #ffb915;
    letter-spacing: 0.3px;
    font-weight: 600;
}

/*************/
/* Header */
/*************/

.header{
    padding: 0.5rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 1.6rem;
    color: #ffb915;
}

.logo span{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3.4rem;
}

.main-nav-list{
    list-style: none;
    display: flex;
    gap: 2.5rem;
}

.main-nav-list li{
    position: relative;
}

.main-nav-list li div{
    position: absolute;
    width: 0;
    transition: all 0.3s;
}

.main-nav-list li:hover div{
    position: absolute;
    height: 2px;
    width: 120%;
    left: -10%;
    margin-top: 4px;
    background-color: #d9b815;
}

.main-nav-link{
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 0.9rem;
    transition: all 0.3s;
}

.main-nav-link:hover{
    color: #d9b815;
}

.btn--git{
    background: linear-gradient(to left, #d9b815, #e7192e);
    padding: 0.7rem 2rem;
    border-radius: 20px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all 0.3s;
}


/************/
/* Hero Section */
/************/

.hero-box{

    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 4rem;
}

.hello{
    color: #ffb915;
    font-size: 0.7rem;
    letter-spacing: 1px;
    margin-bottom: 1.4rem;
}

.primary-heading{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.yellow{
    color: #ffb915;
    letter-spacing: 0.25px;
}

.hero-desc{
    font-size: 0.9rem;
    margin-bottom: 6rem;
    line-height: 1.5;
}

.btn--hire{
    background-color: #ffb915;
    padding: 0.7rem 2rem;
    color: #333;
    font-weight: 600;
    transition: all 0.3s;
}

.btn--hire:hover{
    background-color: #eee;
    color: #06141B;
}

.hero-img{
    max-width: 34rem;
    width: 90%;
    margin-left: 1rem;
    filter: brightness(0.7);
    user-select: none;
}

.hero-btn-section{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.hero-links{
    display: flex;
    gap: 0.6rem;
}

.hero-link img{
    filter: invert(0.6);
    width: 32px;
}

/**************/
/* About section */
/**************/

.about-section{
    padding: 6rem 1rem;
}

.about-desc{
    line-height: 1.5;
    color: #ccc;
    margin-bottom: 4rem;
}

/************/
/* Skills section */
/************/

.skill-heading-box{
    position: relative;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.line{
    width: 65px;
    height: 2.5px;
    background-color: #d9b815;
    position: absolute;
}

.top{
    top: -6px;
    left: -5px;
}

.bottom{
    left: 50px;
    bottom: 25px;
}


.skill-container{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.skill-container h5{
    font-size: 1rem;
    color: #d9b815cb;
    letter-spacing: 0.5px;
    margin-bottom: 1.5rem;
}

.skill-section{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
    margin-block: 1rem;
    row-gap: 3.125rem;
}

.skill-box{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.1rem;
    letter-spacing: 0.5px;
    font-size: 0.9rem;
    
}

.skill-box div{
    width: 88px;
    height: 88px;
    cursor: pointer;
    background-color: #06141B;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: float;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition: all 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear
   
}

@keyframes float {
    0%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(10px);
    }
    100%{
        transform:translateY(0);
    }
}

.skill-box div:hover{
    animation-name: hover-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes hover-animation {
    from{
        transform:rotate(0);
    }
    to{
        transform:rotate(360deg);
    }
}

.skill-box img{
    height: 48px;
}

/************/
/* Projects  */
/************/

.project-bottom{
    left: 38px;
    bottom: 23px;
}


/************/
/* Education  */
/************/

.education-bottom{
    left: 64px;
}

.education-container{
    display: flex;
    gap: 20px;
}

.edu-box{
    background-color: #06141B;
    padding: 1rem 2rem;
    padding-bottom: 2rem;
    /* width: fit-content; */
    box-shadow: 5px 7px 15px 3px #040404a7;
}

.edu--head{
    font-size: 1rem;
    color: #eee;
}

.edu--details{
    font-size: 0.8rem;
    line-height: 1.3;
    color: #bbb;
    padding-block: 0.5rem;
}

.edu-grade{
    font-size: 0.8rem;
    font-weight: 600;
    color: #ccc;
    padding-bottom: 1rem;
}

.edu-time{
    font-size: 0.9rem;
    color: #ddd;
}

.absolute{
    position: absolute;
}


/************/
/* Contact  */
/************/

.tertiary-heading{
    color: #eee;
    margin-bottom: 1.4rem;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-bottom{
    left: 77px;
}

.cta{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.cta-text-box{
    width: 40%;
}

.cta-desc{
    color: #ddd;
    opacity: 0.8;
    font-size: 0.9rem;
    line-height: 1.7;
    margin-bottom: 2.4rem;
}


.symbol{
    user-select: none;
    width: 11%;
}

.cta-box{

    background-color: #021727;
    width: 390px;
    padding: 4rem 1.8rem;
    padding-left: 3rem;
    box-shadow: 1rem 2rem 2rem #000;
}

.input{
    background-color: inherit;
    border: none;
    border-bottom: 2px solid #174760;
    padding-bottom: 6px;
    width: 90%;
    margin-bottom: 1.3rem;
    color: #ffb915;
    transition: all 0.3s;
    user-select: none;
}

.input::placeholder{
    color: #174760;
}

.input:focus{
    outline: none;
    border-bottom: 2px solid #ffb915;
    padding-bottom: 8px;
}

.input:focus::placeholder{ 
    color: #ffb915;
}

.desc{
    padding-bottom: 2rem;
}

.btn--talk{
    background-color: #ffb915;
    padding: 0.5rem 2rem;
    border: none;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #06141B;
    margin-top: 1.5rem;
    transition: all 0.3s;
    user-select: none;
}

.btn--talk:hover{
    box-shadow: inset 4.1rem 0 0 0 #eee, inset -4rem 0 0 0 #eee;
    color: #06141B;
}

.btn--talk:active{
    transform: translateX(5%) scale(105%);
}




/***********/
/* address */
/***********/

.address{
    min-height: 200px;
}

.email{
    color: #ffb915;
    font-size: 0.925rem;
    margin-bottom: 2rem;
    display: block;
}

.email span{
    color: #3f7590;
}

.bottom-links{
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.bottom-links a{
    color: #ddd;
   box-shadow: 20px 10px 30px #06141B;
   border:2px solid #d9b815be;
   display: flex;
   justify-content: space-between;
   padding: 1.5rem 1rem;
   width: 220px;
    border-radius: 5px;
}

.minor-heading{
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.hero-link div p:nth-child(2){
    font-size: 0.8rem;
    color: #d9b815be;
}


/*************/
/* footer */
/*************/

.name{
    color: #3f7590;
    opacity: 60%;
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: end;
}

.copyright{
    font-size: 0.8rem;
    text-align: center;
    color: #bbb;
}